.page-header {
	background-color: #6D4EFF;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	font-family: 'VT323', monospace;
	text-align: center;
}

.panel-default {
	margin-top: 20px;
	margin-bottom: 40px;
}

body {
	background-image: url("../images/eight_horns.png");
}

.image-crystal {
	width: 200px;
	height: 200px;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 18px;
}
