body {
	background-image: url("../images/eight_horns.png");
	font-family: 'VT323', monospace;
}

.page-header {
	background-color: #6D4EFF;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

.panel-default {
	margin-top: 20px;
	margin-bottom: 40px;
}

.image-crystal {
	width: 25%;
	height: auto;
}

.crystals {
	position: relative;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 20px;
}
